.lr-btn{
    width: 109px !important;
    border-radius: 40PX !important;
    padding: 8px !important;
    margin-top: -12px !important;
    margin-bottom: -12px !important;
    color: #fff;
    background-color: #fe730c !important;
    float: right !important;
}

.container{
    padding: 3120px !important;
}